@charset "UTF-8";


/* 
DICA
em HTML é id = em CSS é #
en HTML é class = em CSS é .
*/

body{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: rgb(62, 194, 13);
}

h1#principal{
    text-align: center;
    color: rgb(244, 254, 236);
    background-color: rgba(61, 92, 73, 0.674);
}

h2{
    color: rgb(18, 98, 66);
}