@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: aquamarine;
}

header > h1 {
    text-align: center;

}

menu ul {
    list-style-type: none;
    background-color: rgba(77, 142, 120, 0.688);
}

menu li {
    display: inline-block;
    background-color: rgb(24, 75, 58);
    color: white;
    padding: 10px;

}

article {
    width: 600px;
    display: block;
    margin: auto;
}